div#gallery-box {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto;
    aspect-ratio: 16/9;
    overflow: hidden;
  }
  
  div.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    z-index: 1;
    filter: drop-shadow(0px 0px 10px #000a);
    pointer-events: none;
    user-select: none;
  }
  
  div.overlay h1 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 7rem;
    font-weight: bolder;
    margin: 0;
    color: #ddd;
  }
  
  div.overlay a {
    font-family: Verdana;
    color: #ddd;
    font-size: 0.8rem;
    margin: 0;
    text-decoration: none;
    color: #fff;
    position: relative;
    overflow: hidden;
    padding-bottom: 0.5rem;
    box-sizing: content-box;
    pointer-events: all;
    cursor: pointer;
    text-transform: uppercase;
  }
  div.overlay a:after {
    content: '';
    position: absolute;
    bottom: 0.25rem;
    left: -5%;
    right: -5%;
    height: 2px;
    overflow: hidden;
    background-color: #ddd;
    transform: translateX(-100%);
  }
  div.overlay a:hover:after {
    transform:translateX(0);
    transition: 0.4s ease;
  }
  div.overlay a.leave:after {
    transform: translateX(100%);
    transition: 0.4s ease;
  }
  
  
  div.gallery {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    height: 140%;
    width: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    padding: 1rem;
    transition: 2s ease;
  }
  
  div.row {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
  }
  
  div.item {
    background: #fff2;
    filter: grayscale(1) brightness(0.5);
    transition: 1s;
    height: 14.98rem;
    max-width: 100%;
    min-width: calc((25% - calc(6rem / 4)) / 1.5);
    width: fit-content;
    overflow: hidden;
    position: relative;
  }
  div.item:hover {
    filter: grayscale(0);
  }
  
  div.item img {
    widht: 120%;
    min-width: 198%;
    height: 200%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 2s ease;
  }
  
  /* image scaling */
  .item.nr1 {width: 23%;}
  .item.nr2 {width: 19%;}
  .item.nr3 {width: 32%;}
  .item.nr4 {width: 24%;}
  
  .item.nr5 {width: 37%;}
  .item.nr6 {width: 19%;}
  .item.nr7 {width: 17%;}
  .item.nr8 {width: 22%;}
  
  .item.nr9 {width: 19%;}
  .item.nr10 {width: 16%;}
  .item.nr11 {width: 30%;}
  .item.nr12 {width: 30%;}
  
  
  /* media query for codepen preview */
  @media screen and (max-width: 800px) {
    div.row div.item {
      height: 9rem;
    }
    
    div#credits { 
      opacity: 0; 
      visibility: hidden; 
    }
  }
  
  /* credit (bottom left corner) */
  div#credits {
    font-family: 'verdana';
    font-size: 0.75rem;
    opacity: 0.5;
    transition: 0.4s ease;
    position: absolute; 
    bottom:1rem; 
    left: 1rem;
    display: flex; 
    flex-direction: column;
    row-gap: 0.4rem; 
  }
  div#credits:hover {
    opacity: 1;
  }
  div#credits a {
    color: #fff;
  }