@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #010D26;
  min-height: 100vh;
}

.navbar_li{
  color: #F26938;
  border-radius: 3px;
  padding: 2px;
}

.navbar_li:hover{
  color: white;
  cursor: pointer;
  background: #656565;
}